<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047983259828-cbra8u42u8bf48al952oji3g23ln5ol2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047983259828-cbra8u42u8bf48al952oji3g23ln5ol2</string>
	<key>API_KEY</key>
	<string>AIzaSyDKRjN3lHhN6aD9mVM1zcP8Sq4EgnafT8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1047983259828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.familifeapp</string>
	<key>PROJECT_ID</key>
	<string>familife-eu</string>
	<key>STORAGE_BUCKET</key>
	<string>familife-eu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047983259828:ios:4b375c4ea1ca8211df57e1</string>
</dict>
</plist>